.coin-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
  
  }
  
  .coin {
    display:flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 50%;

  }
  
  .coin img {
    height: 20%;
    width: 10%;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
    width: 20%;

  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 50%;
  }
  
  .coin-price {
    width: 20%;
    
  }
  
  .coin-volume {
    width: 20%;
  }
  

  .coin-percent {
    width: 20%;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }

  /* @media screen and (max-width:600px) { 
    .coin-container{
        gap:1rem;
    }
    .coin-row{
      padding:2rem 1rem;
    }
    
    .coin-container > div{
        width: 100%;
        padding:2rem 1rem;
    }
} */